<button mat-icon-button style="float:right;margin:6px;" matDialogClose>
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content>
    <header>
        <h1>Edit Synopsis</h1>
    </header>

    <div class="d-flex mt-5 ">
        <div>
            <div class="label">
                <label for="tittle">Title</label>
            </div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Placeholder" [(ngModel)]="data.title">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </div>
        <div class="ms-3">
            <div class="label">
                <label for="tittle">Description</label>
            </div>
            <mat-form-field appearance="outline">
                <input matInput placeholder="Placeholder" [(ngModel)]="data.description">
                <mat-icon matSuffix>drafts</mat-icon>
            </mat-form-field>
        </div>
    </div>
</mat-dialog-content>
<div class="actions-div">
    <mat-dialog-actions align="end">
        <button mat-raised-button matDialogClose color="warn">Cancel</button>
        <button (click)="editData(data)" mat-raised-button color="primary">Save</button>
        <mat-spinner diameter="24" *ngIf="isLoading"></mat-spinner>
    </mat-dialog-actions>
</div>