.cancel-del {
    padding: 2px 10px;
    border: none;
    background: #6c4675;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}

.confirm-del {
    padding: 2px 10px;
    border: none;
    background: #ee0303;
    color: #fff;
    font-size: 12px;
    border-radius: 5px;
}
.delete-div{
    position: relative;
    height: 190px;
    padding: 0 30px;
    h1{
        padding-top: 20px;
    }
    p{
        position: absolute;
        left: 57%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 17px;
        max-width: 379px;
        width: 100%;
        margin: 0 auto;
    }
    .buttons-div{
        position: absolute;
        right: 20px;
        bottom: 7px;
    }
}