.new-btn{
    border: none;
    background: #4b4276;
    padding: 6px 12px;
    color: #fff;
    border-radius: 7px;
    font-size: 12px;
    font-family: sans-serif;
    span{
        margin-right: 5px;
    }
}

.main_dashb {
    width: calc(100% - 200px);
    float: right;
    overflow: auto;
    padding:20px;
    box-sizing: border-box;
}
.head{
    font-size: 28px;
    margin-bottom: 12px !important;
    font-family: sans-serif;
    color: #6c4675;
}
.data-table{
    margin-top: 21px;
}
// .delete-btn{
//     margin-top: -10px;
// }
.view-btn {
    padding: 4px 13px;
    background: #6c4675;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    margin-top: 12px;
}
.hide-col{
    display: none;
}